*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    background-color: gray;
    height: 100vh;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top:-50px;
}
button#new-book-btn{
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    background-color: #161673;
    margin-bottom: 50px;
}

 form{
    width: 500px;
    height: 50%;
    font-size: 30px;
    gap: 10px;
    margin: 50px auto;
    text-align: center;
    /* margin-bottom: 20px; */
    display: none;
}
form label{
    display: block;
    margin-bottom: 10px;
}
form input{
    padding: 10px;
    background: #1f5b96;
    font-size: 20px;
}


form input[type="submit"]{
    width: 30%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    font-size: 25px;
    background-color: #161673;
}

.read-status{
    background-color: #3571d89d;
}

.card-header{
    margin-bottom: 30px;
}
.card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:#4f85c0;
}

.remove-btn{
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    background-color: #732f16;
    /* margin-bottom: 50px; */
    color: #fff;
}

.toggle-read-btn{
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    background-color: #bb1c2e;
    /* margin-bottom: 50px; */
    color: #fff;
}